.navbar-menu {
    background-color: rgb(46, 46, 46);
    transition: width 0.3s ease;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo-box {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.navbar-logo-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 8px 70px 8px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin: 15px 8px 70px 8px;
    opacity: 0; /* Initially hidden */
    /* transform: translateX(-10px); Slide slightly to the left */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth animation */
}
.navbar-menu.open .navbar-logo {
    /* When the navbar-menu is open, animate the logo */
    opacity: 1;
    transform: translateX(0);
}

.burger-container {
    display: flex;
    justify-content: left;
}

.burger {
    cursor: pointer;
    padding: 10px;
    margin: 10px 0px 0px 13px;
    display: flex;
    align-items: center;
    transform-origin: center;
}

.burger.spin {
    /* Apply the spin animation */
    animation: spin 0.7s ease forwards;
    transform: rotate(270deg);
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-li-box {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 15px 0px;
    padding: 20px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-li-box:hover {
    /* Apply background color transition on hover */
    background-color: rgba(209, 209, 209, 0.1); /* Example hover background color */
}

.navbar-li-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.navbar-li {
    margin-left: 20px;
    font-size: 1rem;
    color: #fff;
    white-space: nowrap;
    opacity: 0; /* Initially hidden */
    /* transform: translateX(-10px); Slide slightly to the left */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth animation */
}

.navbar-menu.open .navbar-li {
    /* When the navbar-menu is open, animate the text */
    opacity: 1;
    transform: translateX(0);
}