.querybar-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    gap: 10px; /* gap between elements */
    padding: 3px;
    border-color: rgb(48, 48, 48);
    border-style: solid;
    box-shadow: 2.8px 5.6px 5.6px hsl(0deg 0% 0% / 0.41);
}

.querybar-item {
    display: flex;
    align-items: center;
    flex-shrink: 0; /* Prevent shrinking by default */
}

/* Add a new class for the growing item */
.querybar-item-grow {
    flex-grow: 1; /* This item will grow to take available space */
    flex-basis: 0; /* Start from 0 width and grow from there */
}